name: Deploy a Azure

on:
  push:
    branches:
      - main # Se activa cuando subes cambios a la rama main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Build and Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} 
          action: "upload"
          ###### Configuraci칩n de tu App React ######
          app_location: "/" # D칩nde est치 tu c칩digo
          output_location: "dist" # Vite crea la carpeta "dist", no "build"
          ###########################################